.container {
  width: 70rem;
  height: 34rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 15px;
  box-shadow: 18px 18px 20px 0px rgba(0, 0, 0, 0.342);
  background: #3879f1be;
  text-align: center;
}

.title {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button,
.seleccionar,
.buscar {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-left: 2rem;
  margin-right: 3rem;
  color: white;
}

.btnAdd {
  display: flex;
  justify-content: space-between;
  margin-left: 2rem;
}

.modalStyles div {
  background-color: #007bff;
  color: white;
  width: auto;
  height: auto;
  border-radius: 5px;
}
.devicesForm {
  gap: 1rem;
}

.row,
.devicesForm {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.encargado {
  display: flex;
  flex-direction: column;
  grid-column: 1/4;
}

.botones {
  display: flex;
  justify-content: end;
  margin-top: 1.5rem;
}

@media (min-width: 768px) {
  .user,
  .monitor,
  .device {
    display: flex;
    flex-direction: column;
  }
}

.boton {
  width: 100%;
  justify-content: center;
  align-items: center;
}

.row {
  height: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user, .device {
  margin-top: 10rem;
}

.sugContainer {
  width: 110px !important;
  height: 110px !important;
  overflow: auto !important;
}

.userSuggestion {
  cursor: pointer;
  border-right: 1px solid black;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  background-color: white !important;
  color: black !important;
  font-size: 1rem !important;
}

.userSuggestion:hover {
  background-color: gray !important;
}

input,
select {
  margin-top: auto;
}
@media (min-width: 768px) {
  .row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .user {
    display: flex;
    flex-direction: column;
  }
}
