.container {
    width: 70rem;
    height: 34rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    box-shadow: 18px 18px 20px 0px rgba(0, 0, 0, 0.342);
    background: #3879f1be;
    text-align: center;
}

.title {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button,
.seleccionar,
.buscar {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: 2rem;
    margin-right: 3rem;
    color: white;
}

.filtrar {
    display: flex;
    justify-content: space-between;
}

.tabla {
    height: 370px;
    width: 100%;
}

.modalStyles div {
    background-color: #007bff;
    color: white;
    width: auto;
    height: auto;
    border-radius: 5px;
}

/* .row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1rem;
    
} */

.row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.encargado {
    display: flex;
    flex-direction: column;
    grid-column: 1/4;
}

.botones {
    display: flex;
    justify-content: end;
    margin-top: 1.5rem;
}

@media (min-width: 768px) {

    .user,
    .marca,
    .modelo,
    .color,
    .monitor {
        display: flex;
        flex-direction: column;
    }
}

/* .usuario,
.user,
.APM,
.equipo,
.Marca,
.Modelo,
.color,
.descripcion,
.monitor,
.perifericos,
.almacenamiento,
.memoria,
.procesador,
.tarjeta {
    display: flex;
    flex-direction: column;
    
 }
.monitor,
.perifericos,
.almacenamiento,
.memoria,
.procesador,
.tarjeta {
    margin-top: 1rem;
 }
 .descripcion input{
    grid-row: 3 / 4;
    grid-column: 1 / 4;
 }
 .descripcion input {
    height: 2.4rem;
    
 } */
.boton {
    width: 100%;
    justify-content: center;
    align-items: center;
}

.row {
    height: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.user,
.nserie,
.equipo,
.marca,
.modelo,
.color,
.descripcion,
.monitor,
.perifericos,
.almacenamiento,
.memoria,
.procesador,
.tarjeta {
    border: 1px green solid;
    display: flex;
    flex-direction: column;
}

input,
select {
    margin-top: auto;
}
@media (min-width: 768px) {
    .row {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .user,
    .nserie,
    .equipo,
    .marca,
    .modelo,
    .color,
    .descripcion,
    .monitor,
    .perifericos,
    .almacenamiento,
    .memoria,
    .procesador,
    .tarjeta {
        border: 1px green solid;
        display: flex;
        flex-direction: column;
    }

}