.titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.filtro {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 1rem;
}
.busqueda {
    display: flex;
}
.row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.fecha,
.area,
.solicitante {
    display: flex;
    flex-direction: column;
}
.texto {
    width: 100%;
}
.busquedaModal {
    
}